@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300&family=Quicksand:wght@500&display=swap');

$h1Font: 'Quicksand', sans-serif;
$primaryFont: 'Montagu Slab', serif;

/* SCSS RGB */
$prussian-blue: rgba(0, 38, 66, 1);
$rubine-red: rgba(202, 46, 85, 1);
$navajo-white: rgba(255, 224, 181, 1);
$raw-umber: rgba(138, 101, 82, 1);
$rich-black-fogra-29: rgba(2, 4, 15, 1);

body {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "head"
        "main"
        "foot";
}

