body {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto;
    grid-template-areas:
        "head head head"
        ". main ."
        "aside aside aside"
        "foot foot foot";
}