@import 'base';

footer {
    p {
        font-family: $h1Font;
        grid-area: foot;
        background-color: $rich-black-fogra-29;
        color: white;
        text-align: center;
        padding: 10px 0;
    }

}